{% extends 'base.html.twig' %}

{% block body %}
<h1>Read</h1>


{% for post in author.posts %}
    

    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.publishedAt|date("d/m/Y") }} by <a href="#">{{ post.author.firstname }}</a> dans
            {% for category in post.categories %}
            <span>
                {{category.name}} 
            </span>
            {% endfor %}
        </p>
        <p>{{post.body}}</p>
        <a href="{{path('posts')}}"><i class="fa fa-arrow-left"></i> Retour</a>
    </div><!-- /.blog-post -->
</div>
{% endfor %}
{% endblock %}
