{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<h1>Lise des produits</h1>
<p><a href="{{ path('add_post') }}">Ajouter un article</a></p>
{% for post in posts %}
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </thead>
        <tbody>
            <td>{{ post.id }}</td>
            <td><a href="{{ path('post', {'id': post.id}) }}">{{ post.title }}</a></td>
            <td>{{ post.body }}</td>
            <td><a href="{{ path('modify_post', {'id': post.id}) }}">Modifier</a></td>
             <td><a href="{{ path('delete_post', {'id': post.id}) }}">Supprimer</a></td>
        </tbody>
    </table>
{% endfor %}
{% endblock %}