{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <h1>Lise des produits</h1>
    <h3><a href="{{ path('add_post') }}">Ajouter un article</a></h3>
    <div class="table-responsive">
        <table  class="table  table-striped table-secondary table-hover">
            <thead >
                <th scope="col">ID</th>
                <th scope="col">Contenu</th>
            </thead>
            {% for post in posts %}
            <tbody >
        
                <th scope="row">{{ post.id }}</th>
                <td><h4><a href="{{ path('post', {'id': post.id}) }}">{{ post.title }} </a></h4> <br>{{ post.body|slice(0, 1000)|raw }}<br>
                <hr>
               
                    <h4>Liste des catégories</h4>

                    {% for category in post.categories %}
                        <span style="padding:2em;">{{ category.name}}</span>
                    {% endfor %}
                                    
                                    
                </td>
                
                
                <td><a href="{{ path('modify_post', {'id': post.id}) }}">Modifier</a></td>
                <td><a href="{{ path('delete_post', {'id': post.id}) }}">Supprimer</a></td>
                <hr>
             {% endfor %}
            </tbody>
            
        </table>
    </div>
   
{% endblock %}